.card__header{
    min-width: 34.1rem;
    height: 23.7rem;
    background-image: url(../images/image-product-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 34.1rem;
    border-radius: .8rem .8rem 0 0;
}